<div class="profile_title">
    <span class="profile_title">Ingeniería en Sistemas Computacionales</span><br>
</div>
<div class="profile_personalInfo">
    <div class="profile_container1">
        <div class="profile_userImg">
            <img src="https://wiki.italiangrid.it/twiki/pub/Main/UserProfileHeader/default-user-profile.jpg"
                 class="profile_userImg" />
        </div>
     </div>
     <div class="profile_container2">
        <div class="profile_userName">
            <span class="profile_label">Nombre</span><br>
            <span class="profile_text">{{username}}</span><br>
            <span class="profile_label">Apellidos</span><br>
            <span class="profile_text">Rodríguez</span><br>           
        </div>
     </div>
</div>