<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="Shortcut Icon" href="logo.ico" type="image/x-icon" />
        <title> {{username}} </title>
         {% stylesheets

            '@mainuserBundle/Resources/public/css/profile.css'

        %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}
    <body>
          {% include 'mainuserBundle:Main:header.html.twig' %}
          {% include 'mainuserBundle:Main:personalInfo.html.twig' %}
    </body>
</html>